<div>
    <form action="http://localhost:8080/api/products/AddProduct" method="GET">
        <button type="submit">Add product</button>
    </form>
    <ul>
        {{#each products}}
        <li>
            <form action="http://localhost:8080/api/products/{{this.id}}" method="GET">
                <button type="submit">{{this.tile}}</button>
            </form>
        </li>
        <li>{{this.description}}</li>
        <li>{{this.code}}</li>
        <li>{{this.price}}</li>
        <li>{{this.status}}</li>
        <li>{{this.stock}}</li>
        <li>{{this.cathegory}}</li>
        <li>{{this.prodImg}}</li>

        <br>
        {{/each}}
    </ul>
</div>