<div>
    <div class="container" style="padding:10px">
        <div class="row">
            <div class="col-6 text-start">
                <form action="http://localhost:8080/api/products/AddProduct" method="GET">
                    <button class="btn btn-primary" type="submit">Add product</button>
                </form>
            </div>
            <div class="col">
                <div class="sort-buttons">
                    <a href="http://localhost:8080/api/products/?sort=price_asc" class="btn btn-secondary">Min-Max price</a>
                    <a href="http://localhost:8080/api/products/?sort=price_desc" class="btn btn-secondary">Max-Min
                        price</a>
                </div>
            </div>
                <div class="col text-center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Categories
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="http://localhost:8080/api/products/">All</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/api/products/?category=cake">Cakes</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/api/products/?category=cookie">Cookies</a>
                            </li>
                            <li><a class="dropdown-item" href="http://localhost:8080/api/products/?category=other">Others</a>
                            </li>
                        </ul>
                
                    </div>
                </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-3 mb-4">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="{{this.image}}" alt="{{this.title}}">
                    <div class="card-body">
                        <h2>
                            <a style="text-decoration: none; color: brown;"
                                href="http://localhost:8080/api/products/{{this._id}}">{{this.title}}</a>
                        </h2>
                        <p>{{this.description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: ${{this.price}}</li>
                        <li class="list-group-item">Available stock: {{this.stock}}</li>
                        <li class="list-group-item">Category: {{this.category}}</li>
                    </ul>
                    <div class="card-body">
                        <form onsubmit="event.preventDefault(); addToCart('{{this._id}}')">
                            <input style="margin-bottom: 5px" id="cartId-{{this._id}}" placeholder="Insert cart Id"
                                required>
                            <button class="btn btn-success" type="submit">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="container">
            <p style="color:gray">Page {{page}} of {{totalPages}}</p>
            {{#if hasPrevPage}}
            <a tyle="text-decoration: none; " class="btn btn-secondary" href="http://localhost:8080/api/products//?page={{prevPage}}">Previous</a>
            {{/if}}
            
            {{#if hasNextPage}}
            <a style="text-decoration: none; " class="btn btn-secondary" href="http://localhost:8080/api/products//?page={{nextPage}}">Next</a>
            {{/if}}
    </div>
</div>

<script>
async function addToCart(productId) {
    console.log("addToCart function called with productId:", productId);
    const cartId = document.getElementById(`cartId-${productId}`).value;
    console.log("Cart ID:", cartId, "Product ID:", productId);
    if (!cartId) {
        alert('Please provide a Cart ID');
        return;
    }

    try {
        const response = await fetch(`http://localhost:8080/api/carts/${cartId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ productId }),
        });

        const result = await response.json();
        console.log("Response:", result); 
        if (response.ok) {
            alert('Product added to cart!');
        } else {
            alert(result.message);
        }
    } catch (error) {
        console.error('Error adding product to cart:', error);
    }
}
</script>