<div>
    <a href="/AddProduct">Add product</a>
    <ul>
        {{#each products}}
        <li>{{this.title}}</li>
        <li>{{this.description}}</li>
        <li>{{this.code}}</li>
        <li>{{this.price}}</li>
        <li>{{this.status}}</li>
        <li>{{this.stock}}</li>
        <li>{{this.cathegory}}</li>
        <li>{{this.prodImg}}</li>
        <br>
        <a href="/{{products.id}}/edit">Edit product</a>
        <a href="/{{products.id}}/delete">Delete product</a>
        {{/each}}
    </ul>
</div>